<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ansible Nginx</title>
  </head>
  <body>
    <pre id="facts">{{ ansible_facts|to_json(indent=4, sort_keys=True) }}</pre>
  </body>
  <script>
    (function () {
      let element = document.getElementById("facts");
      let obj = JSON.parse(element.innerText);
      element.innerHTML = JSON.stringify(obj, undefined, 2);
    })();
  </script>
</html>
